* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

nav.header {
  display: flex;
  height: 64px;
  align-items: center;
  background: #4a90e2;
}

div.content {
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

div.menu {
  display: flex;
  align-items: center;
}

div.menu img {
  padding-left: 8px;
}
