div.post {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 10, 0.25);
}

div.post header.post-header {
  display: flex;
  align-items: center;
}

div.post img.avatar {
  max-width: 32px;
  width: 100%;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

div.post header.post-header div.details {
  display: flex;
  flex-direction: column;
}

div.post header.post-header div.details span {
  color: #4a4a4a;
  font-weight: bold;
}

div.post header.post-header div.details small {
  color: #9a9a9a;
  font-size: 11px;
}

div.post p.post-content {
  font-size: 14px;
  margin-top: 10px;
  color: #3e3e3e;
}

div.post div.post-comments {
  margin-top: 20px;
}

div.post div.post-comments div.divider {
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

div.post div.post-comments div.comment {
  display: flex;
  margin: 20px 0;
}

div.post div.post-comments div.comment p {
  border-radius: 20px;
  background: #eeeeee;
  color: #3e3e3e;
  padding: 15px;
  font-size: 13px;
}

div.post div.post-comments div.comment p span {
  font-weight: bold;
  margin-right: 6px;
}
